.back1{
    background-image: url("../public/images/day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 
  }
  
  
  .back2{
    background-image: url("../public/images/night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
  }

 @media (max-width: 912px) and (min-width: 360px) {
  .root{
    overflow: hidden;
  }
 }